.canvas-wrapper {
  width: 100%;
  height: 100vh;
  background-color: var(--ivery-color);
  overflow: hidden;
  position: relative;
  cursor: grab;
  overflow: hidden;
  /* stop scrolling */
  touch-action: none;
  /* crucial for mobile drag */
}

.canvas-wrapper:active {
  cursor: grabbing;
}

.canvas-surface {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
}

.canvas-item {
  position: absolute;
  width: 180px;
  height: 180px;
  transform-origin: center;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
}

.canvas-item img {
  width: 100%;
  height: auto;
  object-fit: contain;
  /* transform: rotate(-45deg); */
  border-radius: 12px;
  /* box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15); */
  transition: transform 0.3s;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
}

a {
  cursor: unset;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;

}

.canvas-item img:hover {
  transform: scale(1.1);
}

@media only screen and (max-width: 767px) {
  .canvas-item {
    width: 180px;
    height: 180px;
  }
}

.floating-name {
  font-family: 'open-sauce', sans-serif;
}